*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#f5f7f9;
    --secondary:#153f45;
    --accent:#e3ffcc;
    --dark:#000;
    --heading:#282a30;
    --light:#ffffff;
    --text-color:#777c90;
    --text-color-light:#a4a8ab;
    --text-color-dark:#2b2e2f;
     font-family: 'Manrope', sans-serif !important;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header-section{
    background-color: var(--light);
    padding: 1rem;
}
header{
    max-width: 1400px;
    margin: 0 auto;
    padding:0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3.5rem;
    list-style: none;
    font-weight: 500;
    color: var(--text-color-dark);
    transition: all 0.5s ease-in-out;
    will-change:auto;
}
.nav-links a li:hover{
    color:var(--secondary);
    font-weight: 600;
    cursor:pointer;
}
.nav-links a{
    text-decoration: none;
    color: var(--text-color-dark);
}
.sign-up{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.sign-up a{
    text-decoration: none;
    background-color: var(--secondary);
    color:  var(--light);
    padding: 0.9rem 1.8rem;
    border-radius: 6rem;
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: all 0.2s ease;
}
.sign-up a:hover{
    background-color: var(--accent);
    color: var(--dark);
}
.main-section{
    padding:4rem 0;
    background-color: var(--primary);
}
.main-container{
    max-width: 1400px;
    margin: 0 auto;
    padding:0 2rem;
    text-align: center;
}
.main-heading{
    color: var(--heading);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.main-heading-color{
    color: var(--secondary);
}

.action-container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
}
.icons-1{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.star{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
}
.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--light);
    border-radius: 50%;
    padding:0.6rem;
}
.docs-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    padding: 0.5rem ;
    border-radius:50%;
}
.get-start-section p{
    font-size: 1.2rem;
    margin-bottom: 3.3rem;
}
.btn-get-start{
    text-decoration: none;
    background-color: var(--secondary);
    color:  var(--light);
    padding: 1rem 2rem;
    border-radius: 6rem;
    cursor: pointer;
    margin-right: 1.4rem;
    border: 1px solid var(--secondary);
    transition: all 0.2s ease-in-out;
}
.btn-get-start:hover{
    background-color: var(--accent);
    color:var(--dark);
}
.btn-try-demo{
    text-decoration: none;
    background-color: var(--light);
    color:  var(--secondary);
    padding: 1rem 2rem;
    border-radius:6rem;
    cursor: pointer;
    font-weight: 600;
    border:solid 1px #d3dee7;
}
.btn-try-demo:hover{
    background-color: var(--accent);
    color: var(--dark);
}
.icons-2{
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
}
.wave-icon{
   border: 2px solid var(--secondary);
   border-radius: 50%;
   padding:0.6rem 0.8rem ;
   margin-right: 4rem;
   font-size: 1.4rem;
}
.bar-icon{
    font-size: 1.4rem;
    position: absolute;
    top:0%;
    right:1%;
    border-radius: 50%;
    padding:0.8rem 1rem ;
    background-color: var(--accent);
}
.main-card-container{
    display: grid;
    grid-template-columns: 1fr 200px 300px 200px 1fr;
    gap: 2.5rem;
    margin-top: 2rem;
    align-items: end;
    position: relative;
}
.main-card-container{
    cursor: pointer;
}
.company-img img{
    border-radius: 0.8rem;
}
/* .owl-carousel {
    max-width: 1400px;
} */
.owl-stage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-1,.overview-3{
    background-color: var(--secondary);
    height: 21rem;
    align-content: end;
    color: var(--light);
    padding: 2rem;
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
}
.overview-1 p,.overview-3 p{
    margin-top: 1rem;
}
.overview-2{
    background-color: var(--light);
    padding: 2rem;
    border-radius: 1.8rem;
    height: 21rem;
}
.overview-2 .content{
    text-align: left;
}
.projects-card-icon{
    display: flex;
    justify-content: space-between;
}
.layout-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}
.overview-3{
    background-color: var(--accent);
    color: var(--dark);
}
.overview-4{
    background-color: var(--secondary);
    height: 21rem;
    align-content: end;
    color: var(--light);
    padding: 2rem;
    border-radius: 1.8rem;
    font-size: 1.2rem;
    display: flex;
    align-items: end;
    justify-content: center;
    line-height: 1.8rem;
    text-align: left;
}
 .hamburger{
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #153f45;
 }
/* .review{
    position: absolute;
    top: 0;
    left: 50%;
    translate:-50px;
} */
 .sign-up-res{
    display: none;
 }

.footer-section{
    background-color: var(--dark);
    padding: 2rem 0;
}
footer{
    max-width: 1400px;
    margin: 0 auto;
    padding:2rem 2rem;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr 1fr 1fr;
    gap: 1.5rem;
    /* color:var(--light); */
    color: var(--text-color-light);
    border-bottom: solid 1px var(--text-color);
}
.footer-logo img{ 
    width: 40px;      
    height: auto;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: justify;
}
.logo-content{
    /* padding-right:4rem; */
    line-height: 1.5rem;
}
.company{
    /* margin-left: 3rem; */}
.company h3,.industires h3,.products h3,.getintouch h3{
    margin-bottom: 1rem;
    color: var(--light);
}
.company p,.industires p,.products p,.getintouch p{
    padding: 0.5rem 0;
    cursor: pointer;
}
.footer-icons{
    margin-top: 1rem;
}
.linked-in,.instagram,.facebook{
    color: var(--light);
    margin-right: 1.5rem;
    background-color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.footer-end{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.policy{
    display: flex;
    gap: 2rem;
}
/* Media Queries */
@media (max-width:992px) {
    .nav-links{
        /* display: none; */
        position:absolute;
        right: 0px;
        top: 5.5rem;
        background-color: white;
        padding: 2rem;
        width: 100vw;
        flex-direction: column;
        gap: 1rem;
        transform: translateY(-500px );
    }
    .nav-links.show{
        display: flex;
    }
    .nav-links a li{
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .nav-links a:hover{
        background-color: var(--text-color);
        width: 100vw;
     }
    .hamburger{ 
        display: block;
    }
    footer{
        grid-template-columns:1fr 1fr 1fr;
        row-gap: 2rem;
    }
}
@media (max-width:772px) {
     .sign-up a{
        display: none;
    }
    .sign-up-res{
        display: block;
        text-align: center;
        padding: 0.5rem;
    }
    .sign-up-res:hover{
        background-color: var(--text-color);
        width: 100vw;
        color: var(--secondary);
    }
}
@media(max-width: 768px){
    .action-container{
        display: flex;
        justify-content: center;
         width: fit-content;    
         text-align: center;
    }
    .icons-1,.icons-2{
        display: none;
    }
    .main-heading{
        font-size: 1.8rem;
    }
    footer{
        grid-template-columns:1fr 1fr;
        row-gap: 2rem;
    }
      .footer-end{
        gap: 1rem;
    }
}
@media (max-width:480px) {
       .main-heading{
        font-size: 1.4rem;
    }
    .action-btns{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
      footer{
        grid-template-columns:1fr;
        row-gap: 2rem;
    }
    .footer-end{
        gap: 1rem;
    }
    .btn-get-start{
        margin-right: 0;
    }
}